.menu{
        box-sizing: border-box;
        height: 10vh;
        background-color: #2B244D;
        width:100%;
        color:#fff;
        display:flex;
        justify-content:space-between;
        justify-items: center;
}

.third{
        height: 100%;
        display:flex;
        align-items: center;
}

.logo{
        height: 50%;
}
.menuBurger{
        height: 30%;
        margin-right: 30px;
}

p{
        font-size:18;
        line-height: 24px;
        margin-right:10px;
        letter-spacing: 150;
}

